
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /*background-color: #FEFFF5;*/
}

#div-container {    
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#div-header {	
	height: 100%;
	width: 100%;
  background-color: red;

  transition: height .5s ease-out;
  -webkit-transition: height .5s ease-out; /* Safari 3.1 to 6.0 */
}
#div-subContainer{
  margin-right: 7%;
  margin-left: 7%;
  margin-bottom: 7%;
  /*margin-top: 7%;*/
}

#div-contactDetails{
  float: left;

}
}
#div-map {
  border-color: #CACECF;
  border-style: solid;
  border-width: medium;
  margin-bottom: 20px;
  margin-top: 20px;

 }
 #div-home{
  height:padding:0px;
  margin:0px;
  margin-bottom: 10px;
  margin-top: 10px
 }
 #div-form{
  color: red;
  font-size: 80%;
  float: left;
  width: 50%;
  font-family: "myFont";
 }
#div-mobileContainer {
  height: 50px;
  display: none;
}
#div-menuIcon {
  visibility: hidden;
  margin-left: 7%;
  margin-bottom: 2%;
  margin-top: 3%;
  display: inline-block;
  color: red;
}
#div-mobileNav {
  margin-top: 0px;  /* negative to hide the space taken by mobile icon */
}

#div-mobileSocialNav {
  visibility: hidden;
  float: right;
}
#div-nav {   
  margin: 3% 3% 0px 2%;
  display:none;
  height: 0px;
}

#div-menuHeader{
  margin-bottom: 40px;
  padding-top: 20px;
}
#div-Sandwich{
  visibility: visible;
  position: absolute;
}
#div-Pasta{
  visibility: hidden;
  position: absolute;
}
#div-Pizza{
  visibility: hidden;
  position: absolute;
}
#div-Salad{
  visibility: hidden;
  position: absolute;
}
#div-Burger{
  visibility: hidden;
  position: absolute;
}
#div-Drinks{
  visibility: hidden;
  position: absolute;
}

.carousel .item{
  margin: 4px;
}
.carousel img{
  display: block;
  width: 100%;
  height: auto;
}
fieldset{
  border-color: red;
  border-style: solid;
  border-width: thin;
}

p {
  color: red;
  margin: 0px;
  /*font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;*/
  font-family: "paragraphFont";
}
.p-contactContent{
  margin-top: 12px;
}
.p-menuContent{
  margin-top: 20px;
}
@font-face {
  font-family: "myCustomFont";
  src: url(fonts/KGHAPPY.ttf) format("truetype");
}

@font-face {
  font-family: "myFont";
  src: url(fonts/AGENTRED.ttf) format("truetype");
}

@font-face {
  font-family: "paragraphFont";
  src: url(fonts/SourceSansPro-Light.ttf) format("truetype");
}

h1 { 
  font-family: "myCustomFont";
  text-align: center; 
  font-size: 800%; 
  color: white; 
  font-weight: 100; 
  left: 4%;
  right: 4%;
  top:30%; 
  margin :0;
  padding: 0;
  position: absolute;  
  transition: top .5s ease-out;
  -webkit-transition: top .5s ease-out; /* Safari 3.1 to 6.0 */

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navsAnchor { 
  margin-left: 20px;
  font-family: "myFont";
  text-decoration: none;
  font-size: 170%;
  color: red; 
  font-weight: 100; 
  padding: 0;  
  transition: top .5s;
  -webkit-transition: top .5s; /*Safari 3.1 to 6.0 */
}

.navsAnchorMobile { 
  font-family: "myFont";
  text-decoration: none;
  font-size: 400%;
  color: red; 
  font-weight: 100; 
  padding: 0;  
  transition: top .5s;
  -webkit-transition: top .5s; /*Safari 3.1 to 6.0 */
}

.socialAnchor { 
  margin-left: 5px;
  font-family: "myFont";
  text-decoration: none;
  font-size: 170%;
  color: red; 
  font-weight: 100; 
  padding: 0;  
  transition: top .5s;
  -webkit-transition: top .5s; /*Safari 3.1 to 6.0 */
}

#img-zomato{
  width: 30px;
  height: 30px;
  vertical-align: -20%;
}

.ul-basic{
  list-style-type: none;
  display: inline-block;
}
.ul-nav {
  /*width: calc(100% - 260px);*/
  padding-left:42px;
}

.ul-social { 
  /*margin-right: 3%;*/
  padding: 0px;
  float:right;
  width: 220px;
}
.ul-social li {
  margin-left: 5%;
}

.ul-socialMobile { 
  /*margin-right: 3%;*/
  padding-right: 55px;
  padding-top: 35px;
}
.ul-socialMobile li {
  padding-left: 20px;
}
.btnAppearance {
  -webkit-appearance: none;
}

li {
  display: inline-block;
}

li a:hover {
  background-color: beige;
  border-radius: 5px;
}

.mobileList {
  display: block;
  padding-bottom: 50px;
}

.flexbox:not(.ie11) * {
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    flex: 0 1 main-size
}
.input-textBoxStyle{
  border-color:red;
  border-style: solid;
  border-width: thin;
  width: 300px;
  height: 30px;
}
#input-messageTextBox{
  width: 300px;
  height: 200px;
}
.input-submitButton{
  font-family: myFont;
  background-color: white;
  font-size: 100%;
  color: red;
  border: 1px solid red; 
  border-radius: 8px;
  cursor: pointer;
}

.input-submitButton:hover{
  background-color : red;
  color : white;
}

.input-mobileNavButton{
  font-family: 'myCustomFont';
  background-color: red;
  font-size: 470%;
  color: white;
  border: 1px solid red; 
  border-radius: 8px;
  cursor: pointer;
}

/*.input-mobileNavButton:hover{
  background-color : white;
  color : red;
}*/

#submitBtn{
  margin-left: 12px;
  height: 50px;
  width: 100px;
}
.menuHeaderBtn{
  height: 50px;
  width: 170px;
  margin-right: 12px;
}

.mobileNavBtn{
  height: 176px;
  width: 600px;
}
ul{
  padding: 0px;
  margin: 0px;
  text-align: center;
}
input:focus { 
  outline: none !important;
  border-color: red;
  box-shadow: 0 0 3px red;
}

textarea:focus { 
    outline: none !important;
    border-color: red;
    box-shadow: 0 0 3px red;
}



/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    p {
        font-size:280%;
        margin-right: 21px;
      }
      #div-contactDetails{
        width: 100%;
      }

      .menuHeaderBtn {
        height: 85px;
        width: 247px;
        margin-bottom: 12px;
      }

      .input-submitButton 
      {
        font-size: 175%;
      }
      #img-zomato
      {
        width: 56px;
        height: 56px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }
}

}
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    p {
        font-size:280%;
        margin-right: 21px;
      }
      #div-contactDetails{
        width: 100%;
      }

      .menuHeaderBtn {
        height: 85px;
        width: 247px;
        margin-bottom: 12px;
      }

      .input-submitButton 
      {
        font-size: 175%;
      }
      #img-zomato
      {
        width: 56px;
        height: 56px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }
}
}
/* ----------- iPhone 6, 6s ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    p {
        font-size:280%;
        margin-right: 21px;
      }
      #div-contactDetails{
        width: 100%;
      }

      .menuHeaderBtn {
        height: 85px;
        width: 247px;
        margin-bottom: 12px;
      }

      .input-submitButton 
      {
        font-size: 175%;
      }
      #img-zomato
      {
        width: 56px;
        height: 56px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }

}
}


/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    p {
        font-size:280%;
        margin-right: 21px;
      }
    #div-contactDetails
      {
        width: 100%;
      }
      .menuHeaderBtn {
         height: 85px;
        width: 247px;
        margin-bottom: 12px;
      }
      .input-submitButton {
        font-size: 175%;
      }
       #img-zomato{
      width: 46px;
      height: 46px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }
}

}

/* ----------- Galaxy S4, S5----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      p {
        font-size:280%;
        margin-right: 21px;
      }
      #div-contactDetails{
        width: 100%;
      }
      .menuHeaderBtn {
         height: 85px;
        width: 247px;
        margin-bottom: 12px;
      }
      .input-submitButton {
        font-size: 175%;
      }
       #img-zomato{
      width: 56px;
      height: 56px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }
}
}

/* ----------- Galaxy S5 ----------- */
/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      p {
        font-size:280%;
        margin-right: 21px;
      }
      #div-contactDetails{
        width: 100%;
      }
      .menuHeaderBtn {
         height: 85px;
        width: 247px;
        margin-bottom: 12px;
      }
      .input-submitButton {
        font-size: 175%;
      }
       #img-zomato{
      width: 56px;
      height: 56px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }
}
}

/* ----------- iPad mini,iPad 1 and 2  ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      p {
        font-size:280%;
        margin-right: 21px;
      }
      #div-contactDetails{
        width: 100%;
      }
      .menuHeaderBtn {
        height: 85px;
        width: 247px;
        margin-bottom: 12px;
      }
      .input-submitButton {
        font-size: 175%;
      }
      #img-zomato{
      width: 56px;
      height: 56px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      p {
        font-size:280%;
        margin-right: 21px;
      }
      #div-contactDetails{
        width: 100%;
      }
      .menuHeaderBtn {
        height: 100px;
        width: 237px;
        margin-bottom: 12px;
      }
      .input-submitButton {
        font-size: 162%;
      }
       #img-zomato{
      width: 56px;
      height: 56px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }
}
/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
    p {
        font-size:280%;
        margin-right: 21px;
      }
      #div-contactDetails{
        width: 100%;
      }
      .menuHeaderBtn {
        height: 100px;
        width: 237px;
        margin-bottom: 12px;
      }
      .input-submitButton {
        font-size: 162%;
      }
       #img-zomato{
      width: 56px;
      height: 56px;
      }
      #div-mobileContainer 
      {
        height: 100px;
      }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    p {
        font-size:130%;
      }
      #div-contactDetails{
        width: 60%;

      }
      /*#crossfade > img 
      { 
          margin-left: 20px;
        max-width:550px;
        max-height:550px;
      }*/
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    p {
        font-size:130%;
      }
    #div-contactDetails{
        width: 60%;

      }
      /*#crossfade > img 
      { 
        margin-left: 20px;
        max-width:550px;
        max-height:550px;
      }*/
}
